@import url(fonts.css);

.text-primary {
  color: #004AAD !important;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  background: #fafcfe;
  color: #667085;
}

.btn-primary {
  position: relative;
  background-color: #004aad;
  color: #fff;
  max-width: fit-content;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  transition: color 0.3s ease-in-out;
  z-index: 5;
}

.btn-primary:hover {
  background-color: #004AAD;
}

.btn-primary::before {
  content: "";
  position: absolute;
  z-index: -5;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  border-radius: inherit;
  transition: all 0.3s ease;
  border: 1.5px solid #004AAD;
}

.btn-primary:hover::before {
  top: 10px;
  right: 10px;
  z-index: -5;
}

.header-notification {
  background: linear-gradient(90deg, #0060E0 0%, #DC897C 100%);
  color: #fff;
  text-align: center;
}

.header-notification p {
  margin-bottom: 0px;
  color: #fff;
  padding: 15px 0;

}

.header-section {
  top: 48px;
}

.navbar-brand {
  background: #ffffff79;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  padding: 10px;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.dropdown-menu {
  min-width: fit-content;
  font-size: 12px;
}

.navbar-nav.drop-section {
  flex-direction: row;
  border: 1px solid #cecece;
  border-radius: 6px;
  background: #ffffff79;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(7px);
}

.navbar-light .navbar-nav .nav-link {
  color: #004AAD;
}

.navbar-light .navbar-nav .show>.nav-link {
  color: #004AAD;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #004AAD;
}

.nav-item {
  padding: 0px 20px;
}

.nav-item img {
  width: 13px;
}

.navbar-nav .login {
  color: #004AAD !important;
  margin-right: 10px;
  font-size: 14px;
}

.navbar-nav .sign-up {
  color: #fff !important;
  background-color: #004AAD;
  max-width: max-content;
  border-radius: 4px;
  padding: 10px 25px;
  margin-left: 50px;
}

.hero-section {
  position: relative;
  text-align: center;
  padding: 180px 0 70px;
  color: #fff;
  z-index: 1;
  margin-top: 50px;
  overflow: hidden;
}

/* .hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  z-index: -1;
  border-radius: 5447px;
  opacity: 0.1;
  background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #004AAD 53.67%);
  filter: blur(67px);
} */


.hero-section .backgroundImage {
  border-radius: 5447px;
  opacity: 0.1;
  background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #004AAD 53.67%);
  filter: blur(67px);
}

@keyframes rotateBg {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/svg/Hero-Aura.svg') no-repeat center center;
  background-size: contain;
  opacity: 1;
  z-index: -2;
  animation: rotateBg 60s linear infinite;
}

.main-container {
  height: 350px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 5;
  bottom: 20px;
}

.main-container h1 {
  color: #004aad;
  font-weight: 600;
}

.trusted-partners {
  text-align: center;
  overflow: hidden;
  padding: 0 0 50px;
  position: relative;
  z-index: 1;
}

/* .trusted-partners::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #004AAD 53.67%);
  opacity: 0.02;
  filter: blur(77%);
  z-index: -1;
} */
.logo-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  margin-top: 50px;
}

.logo-track-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.logo-track {
  display: flex;
  gap: 30px;
  width: max-content;
  will-change: transform;
  /* Optimization for smooth scrolling */
}

.logo-track img {
  width: 120px;
  flex-shrink: 0;
}

.feature-section,
.hrm-section,
.testimonials-section,
.differentiators-section {
  padding: 50px 0 60px;
  text-align: center;
}

h5.grad-text {
  font-size: 20px;
  background: linear-gradient(to right, #0057FF, #6664A6, #C27878);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feature-section {
  background: url(../img/svg/Body-Abstract\ pattern.svg) no-repeat center center;
  background-size: 70%
}

.feature-section .feature::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  background: linear-gradient(to right, #f7e7e5, #caddf8);
  z-index: -1;
  border-radius: 20px;
}

.feature-why-content {
  font-size: 13px;
  padding: 10px 100px;
  margin-bottom: 0;
}

.feature-section .feature {
  position: relative;
  border-radius: 20px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  margin-top: 60px;
}

.feature .row {
  text-align: start;
}

.feature-section h1 {
  color: #475467;
}

.feature-section .feature-head {
  margin-bottom: 3px;
  margin-top: 20px;
  font-size: 10px;
}

.feature-section .feature-title {
  margin-bottom: 20px;
  color: #000;
}

.feature-section .feature-content {
  font-size: 14px;
  color: #000;

}

.feature-section .feature img {
  max-width: 100%;
  height: auto;
}

.savings-section {
  padding: 90px 0;
  text-align: center;
}

.savings-section h2 {
  color: #667085;
  font-weight: 600;
  font-size: clamp(1.5rem, 3vw, 2.5rem);

}

.savings-section h1 {
  margin-top: 20px;
  color: #004aad;
  font-weight: 600;
  font-size: clamp(1.5rem, 6vw, 7.5rem);


}

.savings-section .statistics {
  display: flex;
  flex-direction: column;
}

.statistics .statistics-data {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-bottom: 15px;
  margin-left: 150px;
}

.statistics .statistics-img {
  background-color: #e1ecff;
  width: 50px;
  padding: 8px;
  border-radius: 6px;
}

.statistics .statistics-content {
  margin-bottom: 0px;
  margin-left: 15px;
  font-size: 14px;
  color: #000;
  font-weight: 600;
}

.hrm-section .card,
.testimonials-section .card,
.differentiators-section .card {
  margin: 15px 0;
}

.hrm-section h4 {
  color: #000;
  font-weight: 600;
  margin-bottom: 20px;
}

.hrm-section .lead {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 80px;
  padding: 0 80px;
}


.hrm-section .card {
  background: #e1ecff url('../img/svg/Card-Line.svg') no-repeat center center;
  background-size: cover;
  border: none;
  border-radius: 20px;
  padding: 30px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 480px;
}

.hrm-section img,
.feature img,
.feature-highlights img {
  transition: 0.2s ease-in-out;
}

.hrm-section img:hover,
.feature img:hover {
  scale: 1.10;
}

.feature-highlights img:hover {
  scale: 1.05;
}


.card-img-top.img-2 {
  width: 360px;
}

.card-img-top.img-3 {
  width: 340px;
}

.card-img-top.img-4 {
  width: 310px;
}

.card .card-title {
  color: #000;
  text-align: start;
  font-weight: 600;
}

.card .card-text {
  text-align: start;
  font-weight: 500;
  font-size: 14px;
}

.testimonials-section .card {
  height: 200px;
  background: #fafcfe;
  border: 2px solid #e4e7ec;
  border-radius: 6px;
}


.testimonials-section .card-text {
  font-size: 12px;
}

.testimonials-section .card-title {
  font-size: 14px;
  color: #004AAD;
}

.testimonials-section .profile-content {
  text-align: start;
  margin-left: 5px;
}

.differentiators-section .card {
  background: #fff url('../img/svg/Card-Line.svg') no-repeat center center;
  background-size: cover;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  height: 280px;
}

.differentiators-section .card-title {
  font-size: 16px;
}

.differentiators-section .icon {
  font-size: 2rem;
  color: #004aad;
}

.call-to-action {
  padding: 150px;
  border-radius: 5px;
  /* margin: 50px 0; */
}

.call-to-action .container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.call-to-action h1 {
  font-size: 55px;
  color: #004AAD;
  line-height: 5.5rem;
  font-weight: 600;
}

.gradient-text {
  background: linear-gradient(to right, #0057FF, #6664A6, #C27878);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  /* transition: opacity 0.5s ease-in-out; */
}

#changing-text {
  min-width: 450px;
  text-align: start;
}

.footer {
  background: #001f47 url(../img/svg/Footer-Pattern.svg) no-repeat center center;
  color: white;
  padding: 70px 0;
  position: relative;
  text-align: left;
  border-top: 1px solid #e5e5e5;
}

.footer .logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 30px;
}

.footer .logo img {
  height: 35px;
  margin-right: 10px;
}

.footer .logo .brand-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.footer .nav-column {
  margin-bottom: 20px;
}

.footer .nav-column h5 {
  font-size: 16px;
  margin-bottom: 20px;
  color: #ffffff;
}

.footer .nav-column a {
  display: block;
  color: #bfc7d1;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer .nav-column a:hover {
  text-decoration: underline;
}

.footer .contact-info {
  margin-top: 20px;
}


.footer .contact-info a {
  color: #fff;
  margin-right: 10px;
}

.footer .contact-info a:hover {
  text-decoration: none;
}

.footer .social-icons a {
  color: white;
  font-size: 1.5rem;
  margin-right: 15px;
  transition: color 0.3s;

}

.footer .social-icons a:hover {
  color: #00aaff;
}

.footer .copyright {
  margin-top: 20px;
  text-align: center;
  padding-top: 20px;
}

.footer-nav {
  margin-top: 40px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 40px;
}

@keyframes pop-up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  50% {
    transform: translateY(-5px);
    opacity: 0.5;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.feature-section {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.feature-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-track {
  display: flex;
  width: 300%;
  /* height: 100%; */
  transition: transform 0.5s ease-out;
}

.feature-section .feature {
  margin: 0 60px 0 50px;
}

.feature-section .feature-content {
  font-size: 14px;
  color: #000;
  padding-right: 50px;/
}

.feature-section .feature .final-card {
  margin-right: 200px;
}


.trusted-partners {
  overflow: hidden;
  width: 100%;
  position: relative;
  padding: 50px 0;
  text-align: center;
  margin-bottom: -50px;
}

.logo-slider {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo-track-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.logo-track {
  display: flex;
  gap: 40px;
}

.logo-track img {
  max-height: 50px;
  width: auto;
  flex-shrink: 0;
}

.navbar .dropdown-menu {
  width: 800px;
  left: 50%;
  transform: translateX(-50%);
  top: 100% !important;
}

.dropdown-menu.mega-dropdown {
  padding: 15px 60px 25px 50px;
  border-radius: 6px;
}

.nav-item .drop-head {
  padding: 20px 0;
  font-size: 12px;
  color: #000;
}

.navbar-nav .feature-link {
  all: unset;
}

.feature-item {
  margin-bottom: 30px;
  display: flex;
  padding: 7px 15px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  align-items: center;
  cursor: pointer;
}

.feature-item:hover {
  /* background-color: #f8f9fa; */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  border-radius: 6px;
}

.feature-icon {
  font-size: 20px;
  background-color: #fce8e8;
  height: fit-content;
  margin-right: 15px;
  border-radius: 4px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 7px;
  color: #667085;
  aspect-ratio: 1;
}

.feature-icon img {
  width: 30px;
}


.feature-title {
  font-weight: 500;
  margin-bottom: 3px;
  font-size: 12px;
}

.feature-description {
  font-size: 10px;
  color: #667085;
  font-weight: 500;
  margin-bottom: 0px;
}

.updates-placeholder {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.updates-placeholder img {
  width: max-content;
}

.updates-description {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

.mt-6 {
  margin-top: 3.5rem !important;
}


/* FEATURE PAGE  */

.banner {
  background-color: #d0e1f9;
  color: #fff;
  padding: 150px 0 250px;
  text-align: center;
  margin-top: 70px;
}

.banner-text {
  font-size: 12px;
  color: #667085;
  margin-bottom: 0px;
}

.banner-img {
  padding: 0 80px;
  margin-top: -150px;
}

.banner-img img {
  max-width: -webkit-fill-available;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
}

.cta-buttons .btn {
  margin-right: 10px;
  margin-bottom: 10px;
}

.dashboard-preview {
  background-color: #fff;
  padding: 50px 0;
}

.section-title {
  font-size: 28px;
  margin-bottom: 30px;
  text-align: center;
}

.actions .btn {
  margin-right: 10px;
  margin-bottom: 10px;
}

.table {
  margin-top: 20px;
}

.feature-highlights {
  padding: 180px 0 0;
}

.feature-highlights .feature-head {
  font-size: 14px;
  color: #000;
  margin-bottom: 5px;
  font-weight: 400;
}


.feature-highlights .feature-title {
  font-size: 22px;
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;
}

.feature-highlights .flex-reverse {
  flex-direction: row-reverse;
}

.feature-highlights .feature-description {
  font-size: 14px;
  color: #000;
  font-weight: 400;
  line-height: 26px;
}

.assign-employee {
  padding: 50px 0;
}

.actions .btn {
  margin-right: 10px;
  margin-bottom: 10px;
}

.btn-tertiary {
  background-color: #6c757d;
  color: #fff;
  border: none;
}

.btn-tertiary:hover {
  background-color: #5a6268;
}

.img-fluid {
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px/ 0px; */
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1)) drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.06));

  border-radius: 10px;
}

.l-red {
  background-color: #fce8e8;
}

.l-green {
  background-color: #eef6f2;
}

.l-yellow {
  background-color: #f9f5ec;
}

.l-blue {
  background-color: #e7f1fd;
}

.demo-section {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.demo-section .head {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.demo-section h6 {
  font-size: 20px;
  font-weight: 600;
}

.form-control {
  font-size: 12px;
  border: .13em solid #e9e9e9;
  height: 35px;
}

.demo-section label {
  font-size: 14px;
  font-weight: 400;
}

.demo-section .form-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.book-section {
  padding: 50px;
  color: #000;
}

.book-section h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.book-section .demo-content {
  font-size: 15px;
  margin-bottom: 20px;
}

.book-section ul {
  font-size: 13px;
  color: #667085;
  margin-bottom: 10px;
}

.book-section ul li {
  /* margin-bottom: 15px; */
  padding: 10px 0 10px 10px;
}

.book-section ul li i {
  color: #027a48;
  margin-right: 5px;
}

.book-card {
  position: relative;
  border-radius: 20px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 60px;
  background: url(../img/svg/Card-Line.svg);
  background-size: initial;
}

.book-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
  background: linear-gradient(to right, #cadef9, #f6e6e4);
  z-index: -1;
  border-radius: 20px;
}

.book-card img {
  margin-right: 30px;
}

.mw-none {
  max-width: none !important;
}

.booking-iframe {
  border: none;
  border-radius: 8px;
  height: 440px;
  width: 100%;
}

/* .nav-item .nav-menu {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 28px;
}

.link-text {
  display: block;
  transition: transform 0.3s ease-in-out;
}

.nav-item .nav-menu:hover .link-text {
  transform: translateY(-120%);
}

.nav-item .nav-menu::after {
  content: attr(data-text);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.nav-item .nav-menu:hover::after {
  transform: translateY(-110%);
} */


/* .nav-item .nav-menu {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 28px;
}

.link-text {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.nav-menu::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.nav-menu img {
  margin-left: 6px;
  transition: transform 0.3s ease-in-out;
}

.nav-menu:hover .link-text {
  transform: translateY(-120%);
}

.nav-menu:hover::after {
  transform: translateY(-90%);
} */

.nav-menu {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 28px; /* Match text height */
}

.link-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.duplicate {
  top: 100%; /* Position the duplicate below */
}

.nav-menu:hover .link-text {
  transform: translateY(-100%);
}

.nav-menu:hover .duplicate {
  transform: translateY(-100%);
}
